@font-face {
    font-family: "game-font";
    src: url("PressStart2P-Regular.ttf");
}
*{
    font-family: game-font;
}

html{
    margin: 0;
    padding: 0;
    background-color: black;
    box-sizing: inherit;
    font-size: 90.5%;
    box-sizing: border-box;
}
body{
    color: white;
}
header div{
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-top: 10px;
}
 .btn-again{
    border: 10px solid  white;
    color: black;
    background-color: white;
    font-size: 150%;
    border-radius: 20px;
    cursor: pointer;
    
}
.center-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}
.center-div h1{
    margin: 50px  0 50px 0;
}

.center-div h2{
    width: 12rem;
    text-align: center;
    border: 8px solid white;
    border-radius: 8px;
    color: black;
    background-color: white;
    font-size: 250%;
}
.center-div ::after {
    content: '';
    border: 1px solid white;
    position: absolute;
    top: 76%;
    left: 0;
    right: 0;

}
.main-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
    margin-left: 20px;
}

.left-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}
.left-side input{
    width: 150px;
    height: 60px;
    border: 2px solid white;
    color: black;
    font-size: 50px;
    text-align: center;
    border-radius: 20px;
}
.left-side button{
    color: black;
    border: 5px solid white;
    background-color: white;
    font-size: 150%;
    border-radius:10px ;
    cursor: pointer;
}
